<%- include ('./header.ejs') %>

<button class="hide-bug-form">Hide form</button>

<div class="container custom-bug-form">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 m-auto">
      <form method="POST" action="/">
        <div class="form-group">
          <label for="exampleFormControlInput1">Bugs</label>
          <input
            type="text"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="Bugs"
            name="problem"
            required
          />
        </div>
        <div class="form-group">
          <label for="selection">Features</label>
          <select class="form-control" id="selection" name="featureId" required>
            <option value="" default>None</option>
            <% features.forEach(feature => { %>
            <option value="<%= feature.id%>"><%= feature.name %></option>
            <% }) %>

            <!-- <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option> -->
          </select>
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
            name="errorText"
            required
          ></textarea>
        </div>
        <input type="submit" value="submit" />
      </form>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
<script src="/js/featureApi.js"></script>
<%- include ('./footer.ejs') %>
